@model StocksApp.Models.Stock

@{
    ViewBag.Title = "Home";
}

<section class="section-trading-panel grid grid--2--cols">
    <div class="stock-price-panel">
        <h1 class="stock-title mg-bt-md">@Model.StockSymbol</h1>
        <div class="info-stock-box">
            <p class="stock-info-text">Current: <small>$</small> @Model.CurrentPrice.ToString("N")</p>
        </div>
        <div class="info-stock-box">
            <p class="stock-info-text">High: <small>$</small> @Model.HighestPrice.ToString("N")</p>
        </div>
        <div class="info-stock-box">
            <p class="stock-info-text">Low: <small>$</small> @Model.LowestPrice.ToString("N")</p>
        </div>
        <div class="info-stock-box">
            <p class="stock-info-text">Open: <small>$</small> @Model.OpenPrice.ToString("N")</p>
        </div>

        <a class="btn btn-outline btn-order-anchor mg-tp-sm" asp-action="index" asp-controller="trade">Create Order</a>
    </div>
</section>