@model IEnumerable<StocksApp.Models.StockVM>

<div class="grid grid--2--cols">
    <div class="trade-list">
        <div class="trade-list-header flex flex-spaced flex-center">
            <h4 class="subheading">Stocks</h4>
            <form asp-action="Explore" asp-controller="Trade" method="get" class="flex flex-center">
                <input type="search" class="input-field" value="@ViewBag.CurrentSearch" id="search" name="searchStock" placeholder="Search Stock Symbol" />
                <button class="btn-search"><i class="ph ph-magnifying-glass icon-search"></i></button>
            </form>
        </div>
        <div class="stock-box">
            @foreach (var item in Model)
            {
                <form asp-action="Explore" asp-controller="Trade" class="stock-item" method="get">
                    <input type="hidden" name="clickedStock" value="@item.StockSymbol" />
                    <input type="hidden" value="@ViewBag.CurrentSearch" name="searchStock" />
                    <button>
                        <div>
                            <p class="stock-name">@item.StockName</p>
                            <p class="stock-symbol">@item.StockSymbol</p>
                        </div>
                    </button>
                </form>
            }

        </div>
        
    </div>

    @if (ViewBag.ClickedStock != null)
    {
        <div class="box-trade-stock">
            @{
                var item = ViewBag.ClickedStock;
            }
            <div class="stock-img">
                <div class="flex flex-center-vertical mg-tp-md">
                    <div class="stock-img-box">
                        <img src="@item.Image" alt="stock image" class="stock-img" />
                    </div>
                    <div class="flex flex-center-column mg-lf-md box-tittle-stock">
                        <h2 class="secondary-heading stock-title-trade">@item.StockName</h2>
                        <h2 class="heading-tertiary">(@item.StockSymbol)</h2>
                    </div>

                </div>

                <span class="industry-text mg-tp-md tag">@item.Industry</span>
                <p class="exchange-text mg-tp-bg">Exchange:<span class="mg-lf-sm tag">@item.Exchange </span> </p>

                <div class="flex flex-spaced flex-center-vertical stock-trade-bottom">
                    <p class="price-text"><small>$</small> @item.Price</p>
                    <form asp-action="Index" asp-controller="Trade">
                        <input type="hidden" value="@item.StockSymbol" name="stockToTrade" />
                        <button class="btn-full">Trade now<i class="ph ph-shopping-cart-simple"></i></button>
                    </form>
                </div>




            </div>

            
        </div>
       
    }
 
</div>